/* Minimalny reset  */
html {
  font-size: 16px; /* bazowy rozmiar czcionki */
  font-family: Consolas, monospace; /* font systemowy */
  line-height: 1.5; /* lepsza czytelność */
}
body {
  margin: 1rem;
  padding: 0;
  background-color: #252935; /* ciemne tło */
}
h1 {
  color: #08c554; /* jasny kolor nagłówka */
}

header.menu {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
  nav {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
  }
}

a {
  color: #0066cc; /* niebieski kolor linków */
  text-decoration: none; /* bez podkreślenia */
  font-size: 1.4rem;
}
a#getback {
  color: #ffff7a;
  font-weight: 800;
}
a:hover {
  text-decoration: underline; /* podkreślenie przy najechaniu */
}

form {
  label {
    color: #ff1010;
  }
  button {
    font-family: inherit;
    background-color: #ffff7a;
    color: #ff1010;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px;
    margin-top: 10px;
    &:hover {
      background-color: #f4d527;
      color: #077533;
    }
  }
}

/*Uwagi*/

main.uwagi {
  color: cadetblue;
  h2 {
    color: #7ae7ff;
  }
  h3 {
    font-weight: bold;
  }
  strong {
    color: #ff1010;
  }
}
