/* Minimalny reset  */
html {
  font-size: 16px; /* bazowy rozmiar czcionki */
  font-family: system-ui, sans-serif; /* font systemowy */
  line-height: 1.5; /* lepsza czytelność */
}
body {
  margin: 1rem;
  padding: 0;
  background-color: cornsilk;
}

:root {
  --light-red: #ffcccc;
  --bright-red: #ff6666;
  --light-yellow: #fff0b3;
  --bright-yellow: #ffff66;
  --light-green: #ccffcc;
  --bright-green: #66ff66;
}

a {
  color: #0066cc; /* niebieski kolor linków */
  text-decoration: none; /* bez podkreślenia */
  font-size: 1.4rem;
}
a:hover {
  text-decoration: underline; /* podkreślenie przy najechaniu */
}

main {
  max-width: 800px; /* maksymalna szerokość treści */
  margin: 0 auto; /* wyśrodkowanie */
  display: flex;
  flex-direction: column;
  align-items: center;
  h1,
  h2 {
    color: #343403;
  }
  .kanban-board {
    width: 100%;
    border-collapse: collapse;
    .column {
      border-radius: 12px;
    }
    #todo {
      background-color: var(--light-red); /* jasnoczerwony */
    }
    #doing {
      background-color: var(--light-yellow); /* jasny żółty */
    }
    #done {
      background-color: var(--light-green); /* jasny zielony */
    }
    display: flex;
    text-align: center;
    gap: 0.5rem;
    .column-buttons {
      margin-top: 1rem;
      button {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        margin-bottom: 1rem;
        font-weight: bold;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        &.todo {
          background-color: var(--bright-red);
        }
        &.doing {
          background-color: var(--bright-yellow);
        }
        &.done {
          background-color: var(--bright-green);
        }
      }
    }
  }
}
